.delete {
  font-family: var(--type-first);
  background-color: #ddd;
  padding: .3rem .6rem;
  line-height: 1;
  border: 1px solid transparent;
  font-size: 0.875rem;
  cursor: pointer;
  border-radius: .4rem;
  transition: .1s;
}

.delete:focus,
.delete:hover {
  outline: none;
  background-color: #ffffff;
  box-shadow: 0 0 0 3px #eee;
  border-color: #333;
}